APP_NAME="Ausbildungsportal"
APP_ENV=production
APP_KEY=base64:pSUBg+kM5sSeIO1Z6mc1m98b7IMR7tkz5+e753PUoso=
APP_DEBUG=false
APP_TIMEZONE=Europe/Berlin
APP_URL=https://DEINE-RAILWAY-DOMAIN.up.railway.app

APP_LOCALE=de
APP_FALLBACK_LOCALE=de
APP_FAKER_LOCALE=de_DE

RAILPACK_PHP_EXTENSIONS=zip,pdo_pgsql,pgsql

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_URL=${{Postgres.DATABASE_URL}}

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database
CACHE_PREFIX=

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

LOGIN_ALLOWED=true
REGISTRATION_ALLOWED=true
APP_PREVENT_LAZY_LOADING=false
APP_THEME=dark
CDN_URL=

SUPERADMIN_USERS=
DEFAULT_MEETING_POINT=
PRIMARY_GUILD_NAME=""

P12_KEY_NAME=""
P12_PASSWORD=""
PDF_CERTIFICATE_ORGANISATION_NAME=""
PDF_CERTIFICATE_SUB_NAME=""
